name: Release

on:
  workflow_call:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          check-latest: true
          registry-url: 'https://registry.npmjs.org'

      # npm trusted publisher infrastructure requires npm >=11.5.1
      - run: npm install -g npm@latest

      - run: npm install
      - run: npm run compile
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: '${{ secrets.NPM_TOKEN }}'
